// bootstrap extensions

.form-control-inline {
  display: inline-block;
  width: auto;
  + .form-control-inline {
    margin-left: @padding-base-horizontal;
  }
}

.help-inline {
  display: inline-block;
  width: auto;
  margin-left: @padding-base-horizontal;
  color: lighten(@text-color, 25%);
  &.text-info {
    color: @brand-info;
  }
  &.text-danger {
    color: @brand-danger;
  }
  &.text-warning {
    color: @brand-warning;
  }
  &.text-primary {
    color: @brand-primary;
  }
}

.help-block {
  &.text-info {
    color: @brand-info;
  }
  &.text-danger {
    color: @brand-danger;
  }
  &.text-warning {
    color: @brand-warning;
  }
  &.text-primary {
    color: @brand-primary;
  }
}

.navbar-btn-group {
  .navbar-vertical-align(@input-height-base);
}
